<a href="https://colab.research.google.com/github/Vissarapubhargavi12/BAISIC-CODING-QUESTIONS/blob/main/most_sked_accenture_questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

USING COUNT

In [ ]:
def character_count (s,n,c):
  return s.count(c)
n1 = "hello world"
n2 = 10
n3 = "l"
output = character_count(n1,n2,n3)
print(output)

3

REBOUND

In [ ]:
def rebound_height(H, V, Ve, N):
    e = V / Ve
    rebound_height = H * (e ** N)
    return int(rebound_height)
input1 = 10
input2 = 20
input3 = 5
N = 2
output = rebound_height(input1, input2, input3, N)
print(output)

160

FIND EVEN ODD SUM OF THE ARRAY

In [ ]:
def Label_even_odd(A,N):
  result =[]
  for num in A:
     if num%2==0:
          result.append("even")
     else:
          result.append("odd")
  return ' '.join(result)
n1 = [1,2,3,4,5,6]
n2 = 6
print(Label_even_odd(n1,n2))

odd even odd even odd even

In [ ]:
def label_even_odd(A, N):
    result = []
    for num in A:
        if num % 2 == 0:
            result.append("even")
        else:
            result.append("odd")
    return ' '.join(result)

n1 = [1, 2, 3, 4, 5, 6]
n2 = 6
print(label_even_odd(n1, n2))

odd even odd even odd even

In [ ]:
def special_fibonacci(N):
    if N == 0 or N == 1:
        return 1
    dp = [0] * (N + 1)
    dp[0] = 1
    dp[1] = 1
    for i in range(2, N + 1):
        dp[i] = (dp[i-1] * dp[i-1] + dp[i-2] * dp[i-2]) % 47
    return dp[N]
N = 10
print(special_fibonacci(N))

17

PERMUTATIONS

In [ ]:
def max_permutation_value(strings, N):
    vowels = "aeiouAEIOU"
    max_permutations = 0

    for string in strings:
        filtered_string = ''
        for ch in string:
            if ch not in vowels:
                filtered_string += ch
        length = len(filtered_string)
        if length > 0:
            permutations = 1
            for i in range(1, length + 1):
                permutations *= i
        else:
            permutations = 0
        if permutations > max_permutations:
            max_permutations = permutations

    return max_permutations
input1 = ["hello", "cbcd", "aaeioU"]
input2 = 3

output = max_permutation_value(input1, input2)
print(output)

REVERSE THE ARRAY AND SUM OF THE EVEN POSITIONS VALUES

In [ ]:
def reverse_array_sum(A, N):
    A_reversed = A[::-1]
    even_position_sum = 0
    for i in range(0, N, 2):
        even_position_sum += A_reversed[i]

    return even_position_sum
A = [10, 20, 30, 40, 50, 60]
N = 6
result = reverse_array_sum(A, N)
print(result)

In [ ]:
def reverse_array_sum(A, N):
    reversed_array = A[::-1]
    even_position_sum = 0
    for i in range(0, N, 2):
        even_position_sum += reversed_array[i]

    return even_position_sum
A = [14, 23, 45.67, 89]
N = len(A)

print(reverse_array_sum(A, N))

112

PRIME NUMBER PICNIC

In [1]:
def sum_of_primes(n):
    if n < 2:
        return 0

    primes = [True] * (n + 1)
    primes[0] = primes[1] = False

    for i in range(2, int(n**0.5) + 1):
        if primes[i]:
            for j in range(i * i, n + 1, i):
                primes[j] = False

    return sum(i for i in range(n + 1) if primes[i])
n = int(input("Enter a number: "))
print(sum_of_primes(n))

Enter a number: 45
281

STABILIZE THE SYSTEM

In [2]:
def stabilize_system(n):
    return int(str(n).replace('0', '5'))

n = int(input("Enter a number: "))
print(stabilize_system(n))

Enter a number: 89
89

PRODUCT PAIR

In [6]:
def count_product_pairs(N, A):
    count = 0
    for i in range(N):
        for j in range(i + 1, N):

            if (A[i] * A[j]) % 3 == 0:
                count += 1
    return count
N = int(input("Enter the size of the array: "))
A = list(map(int, input("Enter the array elements separated by space: ").split()))
print("Count of unique pairs whose product is a multiple of 3:", count_product_pairs(N, A))

Enter the size of the array: 5
Enter the array elements separated by space: 4 6 7 3 5
Count of unique pairs whose product is a multiple of 3: 7