<a href="https://colab.research.google.com/github/Vissarapubhargavi12/BAISIC-CODING-QUESTIONS/blob/main/number_series_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

GCD (GREATEST COMMON FACTOR)

In [ ]:
num1=60
num2=48
gcd=1
for i in range(1,min(num1,num2)):
  if num1%i==0 and num2%i==0:
    gcd=i
print(gcd)

12

In [ ]:
import math
num1=60
num2=56
gcd=math.gcd(num1,num2)
print(gcd)

4

BINARY TO DECIMAL

In [ ]:
bin(25)

'0b11001'

In [ ]:
n=8
print(bin(n)[2:])

1000

In [1]:
binary_number = "1101"
decimal_number = int(binary_number, 2)

print("The decimal value is:", decimal_number)

The decimal value is: 13

In [6]:
binary_number = "1101"
decimal_number = 0
for i in range(len(binary_number)):
    decimal_number+=int(binary_number[i])*(2**(len(binary_number)-1 -i))
print("The decimal value is:",decimal_number)

The decimal value is: 13

In [7]:

binary_number = "1101"
decimal_number = 0
for index, bit in enumerate(reversed(binary_number)):
    decimal_number += int(bit) * (2 ** index)

print("The decimal value is:", decimal_number)

The decimal value is: 13

OCTAL TO DECIMAL CONVERTION

In [8]:
octal_number = "157"
decimal_number = int(octal_number, 8)
print("The decimal value is:", decimal_number)

The decimal value is: 111