<a href="https://colab.research.google.com/github/Vissarapubhargavi12/BAISIC-CODING-QUESTIONS/blob/main/perp_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def recursum(sum,num1,num2):
  if num1>num2:
    return sum
  return num1+recursum(sum,num1+1,num2)
num1,num2=3,6
sum=0
print(recursum(sum,num1,num2))

18

FIND THE GRATEST NUMBER

In [2]:
num1,num2=9,98
if num1>num2:
  print(num1)
else:
  print(num2)

98

FIND THE GREATEST THREE NUMBERS

In [4]:
num1=90
num2=67876
num3=6798
if num1>num2 and num1>num3:
  print(num1)
elif num2>num1 and num2>num3:
  print(num2)
else:
  print(num3)

67876

LEAP YEAR OR NOT

In [10]:
year = 20001
if(year%4==0 and year%100!=0) or (year%400==0):
  print("Leap year")
else:
  print("Not a Leap year")

Not a Leap year