<a href="https://colab.research.google.com/github/Vissarapubhargavi12/BAISIC-CODING-QUESTIONS/blob/main/prep1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
n=int(input())
if n%2==0:
  print("even")
else:
  print("odd")

89
odd

EVEN OR ODD

POSITIVE OR NEGATIVE

In [6]:
n = int(input())
if n>=0:
  print("positive")
elif n<=0:
  print("negative")
else:
  print("zero")

0
positive

SUM OF N NATIRAL NUMBERS

In [8]:
n = int(input())
sum = 0
for i in range(1,n+1):
  sum+=i
print(sum)

5
15

In [9]:
n = 5
print(int(n*(n+1)/2))

15

In [13]:
def getsum(n):
  if n==1:
    return 1
  return n+getsum(n-1)
num = 5
print(getsum(num))

15

In [14]:
n = 6
sum = 0
for i in range(1,n+1):
  sum+=i
print(sum)

21

In [18]:
n1 = 3
n2 = 6
sum = 0
for i in range(n1,n2+1):
  sum+=i
print(sum)

18