<a href="https://colab.research.google.com/github/Vissarapubhargavi12/BAISIC-CODING-QUESTIONS/blob/main/test_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

REPLACE A CHARACTER

In [2]:
def replace_character(str1, ch1, ch2):
    translation_table = str.maketrans({ch1: ch2, ch2: ch1})
    return str1.translate(translation_table)
input_str = "tervpro"
ch1 = 'e'
ch2 = 'p'
output = replace_character(input_str, ch1, ch2)
print(output)

tprvero

REVERSE A STRING

In [6]:
a="tervpro"
str=a.split()
print(a[::-1])
print(str[::-1])

orpvret
['tervpro']

In [4]:
def reverse_string_wordwise(s):
    words = s.split()
    reversed_words = words[::-1]
    return ' '.join(reversed_words)
input_str1 = "terv pro"
output1 = reverse_string_wordwise(input_str1)
print(output1)
input_str2 = "Welcome to Sunday samayal"
output2 = reverse_string_wordwise(input_str2)
print(output2)

pro terv
samayal Sunday to Welcome

In [7]:
def food_for_rats(r, unit, arr):
    if arr is None:
        return -1
    total_food_required = r * unit
    food_accumulated = 0
    houses_count = 0
    for food in arr:
        food_accumulated += food
        houses_count += 1
        if food_accumulated >= total_food_required:
            return houses_count
    return 0
r = 7
unit = 2
arr = [2, 8, 3, 5, 7, 4, 1, 2]

output = food_for_rats(r, unit, arr)
print(output)

4

In [8]:
def Replacecharacter(str1, ch1, ch2):
    str1 = str1.replace(ch1,'#')
    str1 = str1.replace(ch2, ch1)
    str1 = str1.replace('#',ch2)
    return str1
str1 = "tervpro"
ch1 = 'e'
ch2 = 'p'
output = Replacecharacter(str1, ch1, ch2)
print(output)

tprvero

In [9]:
def findcount(arr,length,num,diff):
    count=0
    for i in range(length):
        if abs(arr[i]-num)<=diff:
            count+=1
    if count==0:
        return -1
    return count
arr=[1,2,3,4,5,6]
num=6
diff=2
r=findcount(arr,len(arr),num,diff)
print(r)

3

In [10]:
def rev_str_words(sentence):
    rev_sentence=' '.join(sentence.split()[::-1])
    return rev_sentence
n="terv pro"
result=rev_str_words(n)
print(result)

pro terv

In [11]:
r = 7
unit = 2
arr = [2, 8, 3, 5, 7, 4, 1, 2]
n = 8
if n == 0:
    print(-1)
else:
    total_food = r * unit
    total_food_available = 0
    house_count = 0
    for food in arr:
        total_food_available += food
        house_count += 1
        if total_food_available >= total_food:
            print(house_count)
            break

4